<div class="container-fluid bb p-5">
    <div class="row">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 my-5 mx-auto">
                <div class="card">
                    <form onsubmit="event.preventDefault()" class="box">
                        <div class="row">
                            <div class="col-md-5 col-7 mx-auto">
                                <h1 style="    position: absolute;letter-spacing: 5px;">Login</h1>
                               <div class="cat ">  
                                
                                    <div class="ear ear--left"></div>
                                    <div class="ear ear--right"></div>
                                    <div class="face">
                                      <div class="eye eye--left">
                                        <div class="eye-pupil"></div>
                                      </div>
                                      <div class="eye eye--right">
                                        <div class="eye-pupil"></div>
                                      </div>
                                      <div class="muzzle"></div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                       
                        <p class="text-light"> Please enter your login and password!</p>
                         <input type="text" name="" placeholder="Username">
                          <input type="password" name="" placeholder="Password"> 
                          <a class="forgot text-light" href="#">Forgot password?</a>
                          <br>
                           <button class="logibtn" type="submit" name="" value="Login" href="#">Login</button>
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 bol">
        <div class="a-one animate"></div>
        <div class="a-two animate"></div>
        <div class="a-three animate"></div>
        <div class="a-four animate"></div>
        <div class="a-five animate"></div>
        <div class="a-six animate"></div>
        <div class="a-seven animate"></div>
        <div class="a-eight animate"></div>
        <div class="a-nine animate"></div>
        <div class="a-ten animate"></div>
      </div>
</div>

</div>



