/* You can add global styles to this file, and also import other style files */
.blue{
    background-color: rgb(25, 19, 80);
}

.og{
    background-color: rgb(255, 81, 0);
}
.container-fluid {
    min-height: 100vh;
}